@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}


header{


    margin: 0 auto;

    position: relative;
    background: #bbbbbb;
    padding: 20px 0;

    text-align: left;

    box-shadow: 1px 1px 1px  rgba(10, 10, 10, 0.57);

}

header h1{

    padding: 10px;
    margin: 0 95px 0 100px;


}

nav{



    position: absolute;
    top: 120px;
    right: 50px;
    margin-right: 40px;
    padding: 5px 15px 5px 15px ;

}

nav li{


    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    color: black;

    text-transform: uppercase;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
}

body{
    background-color: #8E989E;
}


main {
    background-color: #ffffff;

    max-width: 1200px;
    min-width: 300px;

    margin:  auto;
    padding: 1px 20px;


}

form{

    margin: 40px auto;
}

form label {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin: 20px 0;
}

.contato legend{
    margin: 5px 0;


    font-size: 18px;
    font-weight: bold;
}

.contato label{
    margin: 10px 0;
}

.horario-retorno legend {
    margin-bottom: 10px;

    font-size: 18px;
    font-weight: bold;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;

    border: none;
    border-radius: 5px;
    transition: 1s all ;
    cursor: pointer;
}

.enviar:hover{
    background: darkorange;
    transform: rotate(1800deg) scale(1.08);

}

table{
    margin: 20px 0 40px;
}

thead{
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid #000000;
    margin: 8px 15px ;
}


footer{
    background: url("/recursos/imagens/bg.jpg");
    max-height: 18em;

    padding: 40px 0px;

    text-align: center;
}

.copyright {
    color: #ffffff;

    font-size: 13px;
    margin-top: 20px;
    padding: 10px;

}

